
:root {
    --bg-primary: #1F1A30;
    --bg-secondary: #2d273e;
    --bg-tertiary: #37304A;

    --text-primary: #FFFFFF;
    --text-secondary: #6D6B78;
    --text-placeholder: #484657;

    --accent: #71F1E3;
    --accent-dark: #59cdbf;

    --error: #D84444;
}

* {
    color: var(--text-primary);
}
