
:root {
    --bg-primary: #1F2329;
    --bg-secondary: #2B2F35;
    --bg-tertiary: #3C4045;

    --text-primary: #FFFFFF;
    --text-secondary: #8e8b82;

    --accent: #E9A63A;
    --accent-dark: #EAB63E;
    --accent-light: #F7D269;

    --error: #D84444;
}

* {
    color: var(--text-primary);
}
